@import "ember-bootstrap/bootstrap";

img{  
    height: 150px;
    width: 150px;
}

.mployee-list-page{
    margin-top: 100px;
}

.employee-details-list-page{
    margin-left: 20px;
}

.employee-ul-list-page{
    margin-bottom: 20px;
}