
<ul class="employee-ul-list-page">
    <li class="employee-details-list-page">Employee Name: {{@employee.name}}</li>
    <li class="employee-details-list-page">Employee Department: {{@employee.department}}</li>
    <li class="employee-details-list-page">Employee Email: {{@employee.email}}</li>
</ul>